<h3>Hi, <%= @passenger.name %></h3>

<p>Your flight to <%= @arrival.city %> is booked. Here are the details: </p>

<p><b>Confirmation#: </b><%= @booking.confirmation %></p>
<p><b>Flight Info: </b><%= @flight.display_text %></p>

<% if @other_passengers.present? %>
  <ul><b>Other Passengers on This Booking: </b>
      <% @other_passengers.each do |pass| %>
          <li><%= pass.name %></li>
      <% end %>
  </ul>
<% end %>

